.debt__control-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.debt__input-quantity {
    max-width: 100px;
}

.debt__control-inputs button {
    margin-right: 10px;
}