.lateral__container{
    background-color: #4F372D;
    width: 250px;
    height: 100vh;
}

.lateral__container a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    display: block;
    padding: 20px;
    text-align: center;
}

.lateral__container a:hover {
    background-color: #000;

}