html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
}

th {
    padding: 10px;
}

td {
    padding: 5px;
    text-align: center;
}

h1 {
    padding: 20px;
}

.base__container {
    display: flex;
}

.base__page-container:nth-child(2) {
    width: 100%;
}

.base__page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.base__filters-contaier{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.base__filters-contaier > input {
    margin-right: 40px;
}

.base__input-default {
    padding: 10px;
}
.base__input-add{
    width: 100%;
}

.base__actions-container {
    width: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.base__actions-icon {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 50%;
}

.base__actions-icon:hover {
    cursor: pointer;
    background-color: #4F372D;
}

.base__actions-icon:active {
    background-color: #000;
}

.base__table {
    min-width:750px;
}

.custom__column{
    display: flex;
    justify-content: center;
}

.custom__soft{
    max-width: 90px;
}

.custom__default{
    max-width: 200px;
}
